integrations/n8n-writeback-workflow.json
{
  "name": "Comps — Write back to CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "writeback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-2400, 320],
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "webhookId": "comps-writeback-001"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "kshVbfaHvr6ICAhg",
          "mode": "list",
          "cachedResultName": "GHL outh details"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "locationid",
              "keyValue": "={{ $json.body.locationId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [-2180, 320],
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Get GHL token"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json; const token = row.Access_token || row.accessToken || row.API || row.api; const wh = ($('Webhook').first().json.body) || {}; return [{ token, locationId: wh.locationId, contactId: wh.contactId, fields: wh.fields || {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1960, 320],
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Prepare fields"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/locations/{{ $json.locationId }}/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1740, 320],
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Get custom fields"
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare fields').first().json; const resp = $input.first().json; const list = resp.customFields || resp.data || []; const byKey = {}; for (const f of list) { const fk = String(f.fieldKey || ''); const k = fk.includes('.') ? fk.split('.').pop() : fk; if (k) byKey[k] = f.id; } const customFields = []; for (const [key, value] of Object.entries(prep.fields || {})) { const id = byKey[key]; if (id && value !== '' && value != null) customFields.push({ id, field_value: value }); } return [{ token: prep.token, contactId: prep.contactId, body: { customFields } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1520, 320],
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Map field IDs"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1300, 320],
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Update contact",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-1080, 320],
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get GHL token", "type": "main", "index": 0 }]] },
    "Get GHL token": { "main": [[{ "node": "Prepare fields", "type": "main", "index": 0 }]] },
    "Prepare fields": { "main": [[{ "node": "Get custom fields", "type": "main", "index": 0 }]] },
    "Get custom fields": { "main": [[{ "node": "Map field IDs", "type": "main", "index": 0 }]] },
    "Map field IDs": { "main": [[{ "node": "Update contact", "type": "main", "index": 0 }]] },
    "Update contact": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "comps-writeback" }
}
